.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerItem{
    margin-right: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    background-color: antiquewhite;
}
.taskSection{
    display: flex;
    flex-direction: row;

}

.module {
    border-radius: 10px;
    margin-right: 30px;
    /*position: relative;*/
    background-color: cyan;
}

.taskRoot{
    width: 400px;
}

.taskItem{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: azure;
}


.taskItem:not(:first-child){
    margin-top: 10px;
}

.taskTitle{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    width: 100%;

}

.taskButton {
    width: 100%;
}